.home{
    padding: 100px 0 140px;
    background :url("../image/home/bg.png")center/cover ;
    &__title{
        font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 55px;
/* or 100% */

letter-spacing: 1.8px;

color: #08090A;
margin-bottom: 27px;
    }
    &__subtitle{
        font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.36px;
color: #546285;
margin-bottom: 53px;
max-width: 480px;
    }
    &__btn{
        font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
text-align: center;
padding: 20px 35px;
color: #FFFFFF;
background: #35B8BE;
border-radius: 6px;
border: none;
margin-bottom: 40px;
&:hover{
    color: blue;
}
    }
    &__span{
        position: relative;
        align-items: center;
        text-align: center;
    }
    &__img{
        width: 100%;
        object-fit: cover;
    }
    &__pilot{
        display: block;
        margin-bottom: 10px;
    }
    &__back{
        background-color: #FFFFFF;
    }
    &__image{
        object-fit: cover;
    }
}