.home {
  padding: 100px 0 140px;
  background: url("../image/home/bg.png") center/cover;
}
.home__title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  /* or 100% */
  letter-spacing: 1.8px;
  color: #08090A;
  margin-bottom: 27px;
}
.home__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.36px;
  color: #546285;
  margin-bottom: 53px;
  max-width: 480px;
}
.home__btn {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  padding: 20px 35px;
  color: #FFFFFF;
  background: #35B8BE;
  border-radius: 6px;
  border: none;
  margin-bottom: 40px;
}
.home__btn:hover {
  color: blue;
}
.home__span {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.home__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__pilot {
  display: block;
  margin-bottom: 10px;
}
.home__back {
  background-color: #FFFFFF;
}
.home__images {
  -o-object-fit: cover;
     object-fit: cover;
}