@import url("../fonts/stylesheet.css");
@import url("../libs/bootstrap-grid.min.css");
@import url("../libs/owl/owl.carousel.min.css");
@import url("../libs/owl/owl.theme.default.min.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
}
@import "./header.scss";
@import "./home.scss";
@import "./about.scss";
@import "./menu.scss";
@import "./simple.scss";
@import"./call.scss";
@import"./footer.scss";






.work {
    & .owl-item .owl-nav {
        padding: 134px 0 127px;
        margin-top: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        left: 0;
        display: flex;
        justify-content: space-between;
    }
    &.customNextBtn {
        display: flex;
        width: 40px;
        height: 75px;
        background: url("../image/work/vec1.png");
    
        &.customPrevBtn {
            width: 40px;
            height: 75px;
            background: url("../image/work/vec2.png");
        }
    }
}

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 55px;
        /*identical to box height, or 110%*/
        text-align: center;
        letter-spacing: 1.65px;
        color: hsl(183, 56%, 48%);
        margin-bottom: 65px;
    }
    &-card {
        &__text {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 22px;
            /* identical to box height, or 110% */
            text-align: center;
            letter-spacing: 0.66px;
            color: #08090a;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            /* or 150% */
            text-align: center;
            letter-spacing: 0.36px;
            &__image {
                object-fit: cover;
                margin-right: 50px;
                margin-bottom: 48px;
            }
        }
    }

.last{
    padding: 44px 0 43px;
    &__img{
        object-fit: cover;
        width: 666px;
        height: 640px;
        margin-right: 22px;
    }
    &__two{
        background: url('../image/last/k.png') center/cover;
        width: 666px;
        height: 640px;
        margin-left: 22px;
    }
    &__title{
        position: relative;
        top: 212px;
        font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 60px;
letter-spacing: 1.65px;
color: #FFFFFF;
text-align: center;
align-items: center;
    }
    &__btn{
        width: 162px;
        height: 60px;
        font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #35B8BE;
background: #FFFFFF;
border-radius: 4px;
position: relative;
top: 320px ;
left: 60px;
border: none;
    }
}
